<div hidden="@(!Active)">
    <h3>Task Two</h3>
    <p>Create a carnivour that is able to eat other dinosaurs</p>
        <ul>
            <li>Must look for dinosaurs and eat one it can find</li>
            <li>If a dinosaur is eaten it must die and not eat plants again the next day</li>
            <li>Must log whether it was able to find a dinosaur or went hungry</li>
        </ul>
</div>


@code {
    [Parameter]
    public bool Active { get; set; }
}